@using KSOA.Model;
@model List<Admin_ExcelResourceForMonth>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/ui/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <link href="~/Content/Admin/Admin.css" rel="stylesheet" />
    <link href="~/Content/Admin/pagination.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.3.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/messages_cn.js"></script>
    <script src="~/Scripts/ui/js/ligerBuild.min.js"></script>
    <script src="~/Scripts/Admin/function.js"></script>
    <title>MonthManage</title>
</head>
<body class="mainbody">
    <form id="form1">
        <div class="tools_box">
            <div class="tools_bar">
                <div class="search_box">
                    <input type="text" id="txtKeywords" class="txtInput" />
                    <input type="button" id="btnSearch" value="搜 索" class="btnSearch" />
                </div>
                <a href="../admin/ImportExcelByMonth" class="tools_btn"><span><b class="add">导入包月源数据</b></span></a>
            </div>
        </div>

        <!--列表展示.开始-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msgtable">
            <tr>
                <th>CP名称</th>
                <th>日期</th>
                <th>作品名称</th>
                <th>非包月点播次数</th>
                <th>包月点播次数</th>
                <th>付费点播次数</th>
                <th>免费点播次数</th>
                <th>非包月付费点播</th>
            </tr>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td align="center">
                            <input type="hidden" value="@item.CPid" /> 
                            @item.Cpname
                        </td>
                        <td align="center">
                            @item.StatisticsTime
                        </td>
                        <td align="center">
                            @item.SingleOpusName
                        </td>
                        <td align="center">
                            @item.NotBaoyuePlayNum
                        </td>
                        <td align="center">
                            @item.BaoyuePlayNum
                        </td>
                        <td align="center">
                            @item.PayBillPlayNum
                        </td>
                        <td align="center">
                            @item.FreePlayNum
                        </td>
                        <td align="center">
                            @item.NotBaoyuePayBillPlayNum
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td align="center" colspan="8">暂无记录</td></tr>
            }
        </table>
        <!--列表展示.结束-->


        <div class="line15"></div>
        <div class="page_box">
            <div id="PageContent" class="flickr right">@Html.Raw(ViewBag.PageContent)</div>
        </div>
        <div class="line10"></div>
    </form>
</body>
</html>
