@using KSOA.Model;
@model List<Work_Note>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Scripts/ui/skins/Aqua/css/ligerui-all.css" rel="stylesheet" />
    <link href="~/Content/Admin/Admin.css" rel="stylesheet" />
    <link href="~/Content/Admin/pagination.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.3.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/messages_cn.js"></script>
    <script src="~/Scripts/ui/js/ligerBuild.min.js"></script>
    <script src="~/Scripts/Admin/function.js"></script>
    <title>CPlist</title>
</head>
<body class="mainbody">
    <form id="form1">
        <div class="tools_box">
            <div class="tools_bar">
                <a href="../DailyWork/AddDaily" class="tools_btn"><span><b class="add">添加日报</b></span></a>
                <a href="javascript:void(0);" onclick="checkAll(this);" class="tools_btn"><span><b class="all">全选</b></span></a>
                <a href="javascript:void(0);" id="btnDelete" class="tools_btn"
                   onclick="return ExePostBack('btnDelete', '', 'Daily');"><span><b class="delete">批量已阅</b></span></a>
            </div>
        </div>

        <!--列表展示.开始-->
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="msgtable">
            <tr>
                <th>选择</th>
                <th>日报标题</th>
                <th>添加日期</th>
                <th>填写人</th>
                <th>状态</th>
            </tr>
            @if (Model.Count != 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td align="center">
                            <span class="checkall">
                                <input type="checkbox" id="@item.ID" />
                            </span>
                        </td>
                        <td align="center">
                            <a href="../DailyWork/EditDaily/@item.ID">
                                @item.WTitle
                            </a>
                        </td>
                        <td align="center">
                            @item.AddTime
                        </td>
                        <td align="center">
                            @item.WriterName
                        </td>
                        <td align="center">
                            @(item.IsRead?"已阅":"未查看")
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr><td align="center" colspan="5">暂无记录</td></tr>
            }
        </table>
        <!--列表展示.结束-->


        <div class="line15"></div>
        <div class="page_box">
            <div id="PageContent" class="flickr right">@Html.Raw(ViewBag.PageContent)</div>
        </div>
        <div class="line10"></div>
    </form>
</body>
</html>
